.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: solid black;
}
.nav-items>ul{
  list-style-type: none;
  display:flex;
}
.nav-items>ul>li{
  padding: 10px;
}
.logo {
  width: 100px;
}
/* .card{
  width: 200px;
  border: 1px solid black;
  padding:10px;
  margin: 20px;
}
.card > img {
  width:100%;
} */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 350px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px #ccc;
  background-color: #fff;
}

.card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.card h3 {
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
  color: gray;
}

.card h4 {
  margin: 10px 0;
  font-size: 10px;
  text-align: center;
  color: gray;
}

.restaurent-list{
display: flex;
flex-wrap: wrap;
}
.menu {
  display: flex;
}